<%- model_class = Notification -%>
<div class="page-header">
  <h1>Notificações</h1>
</div>

<%= link_to 'Nova Notificação',
            new_notification_path,
            :class => 'btn btn-primary' %>
<br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Responsável</th>
      <th>Mensagem</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.student.name %></td>
        <td><%= notification.parent.name %></td>
        <td><%= notification.title %></td>
        <td><%= Notification::Status[notification.status] %></td>
      </tr>
    <% end %>
  </tbody>
</table>