<p id="notice"><%= notice %></p>

<p>
  <strong>Studant class:</strong>
  <%= @notification.student_class.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @notification.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @notification.message %>
</p>

<%= link_to 'Back', notifications_path %>
