<%= form_for(@teacher) do |f| %>
  
  <div class="form-group <%= @teacher.errors[:name].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Nome</label>
    <%= f.text_field :name, :class=>"form-control" %>
    <% if @teacher.errors[:name].any? %>
      <% @teacher.errors[:name].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @teacher.errors[:birth].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Data de nascimento</label>
    <%= f.text_field :birth, :class => "datepick form-control", :value => formatar_data(@teacher.birth) %>
    <% if @teacher.errors[:birth].any? %>
      <% @teacher.errors[:birth].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  

  <div class="form-group">
    <label>Sexo</label>
    <%= f.select :sex, Teacher::Sex.map{|status| [status[1], status[0] ]}, {}, {:class=>"form-control"} %>
  </div>

  <div class="form-group <%= @teacher.errors[:cpf].any? == true ? 'has-error' : '' %>">
    <label class="control-label">CPF</label>
    <%= f.text_field :cpf, :class=>"form-control" %>
    <% if @teacher.errors[:cpf].any? %>
      <% @teacher.errors[:cpf].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @teacher.errors[:street].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Rua</label>
    <%= f.text_field :street, :class=>"form-control" %>
    <% if @teacher.errors[:street].any? %>
      <% @teacher.errors[:street].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @teacher.errors[:cep].any? == true ? 'has-error' : '' %>">
    <label class="control-label">CEP</label>
    <%= f.text_field :cep, :class=>"form-control" %>
    <% if @teacher.errors[:cep].any? %>
      <% @teacher.errors[:cep].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @teacher.errors[:comp].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Complemento</label>
    <%= f.text_field :comp, :class=>"form-control" %>
    <% if @teacher.errors[:comp].any? %>
      <% @teacher.errors[:comp].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @teacher.errors[:neighborhood].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Bairro</label>
    <%= f.text_field :neighborhood, :class=>"form-control" %>
    <% if @teacher.errors[:neighborhood].any? %>
      <% @teacher.errors[:neighborhood].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @teacher.errors[:city].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Cidade</label>
    <%= f.text_field :city, :class=>"form-control" %>
    <% if @teacher.errors[:city].any? %>
      <% @teacher.errors[:city].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @teacher.errors[:state].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Estado</label>
    <%= f.text_field :state, :class=>"form-control" %>
    <% if @teacher.errors[:state].any? %>
      <% @teacher.errors[:state].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @teacher.errors[:phone].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Telefone</label>
    <%= f.text_field :phone, :class=>"form-control" %>
    <% if @teacher.errors[:phone].any? %>
      <% @teacher.errors[:phone].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-primary">Salvar</button>
    <%= link_to 'Voltar', student_classes_path, :class=>"btn btn-default" %>
  </div>
<% end %>
