<h1>Lista de Professores</h1>

<br>
<%= link_to 'Novo Professor', new_teacher_path, :class=>"btn btn-default" %>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sexo</th>
      <th>CPF</th>
      <th>Telefone</th>
      <th width="300">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.sex %></td>
        <td><%= teacher.cpf %></td>
        <td><%= teacher.phone %></td>
        <td><%= link_to 'Visualizar', teacher, :class=>"btn btn-default" %>
        <%= link_to 'Editar', edit_teacher_path(teacher), :class=>"btn btn-primary" %>
        <%= link_to 'Excluir', teacher, method: :delete, data: { confirm: 'Deseja realmente excluir?' }, :class=>"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>