<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @teacher.birth %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @teacher.sex %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @teacher.cpf %>
</p>

<p>
  <strong>Street:</strong>
  <%= @teacher.street %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @teacher.cep %>
</p>

<p>
  <strong>Comp:</strong>
  <%= @teacher.comp %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @teacher.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @teacher.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @teacher.state %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @teacher.phone %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
