<h1>Visualizar Professor</h1>

<% if notice != nil %>
<p id="notice" class="bg-success"><%= notice %></p>
<% end %>

<p>
  <strong>Nome:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Aniversário:</strong>
  <%= formatar_data(@teacher.birth) %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= Teacher::Sex[@teacher.sex] %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @teacher.cpf %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @teacher.street %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @teacher.cep %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @teacher.comp %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @teacher.neighborhood %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @teacher.city %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @teacher.state %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @teacher.phone %>
</p>

<%= link_to 'Editar', edit_teacher_path(@teacher), :class=>"btn btn-default" %>
<%= link_to 'Voltar', teachers_path, :class=>"btn btn-default" %>
