<%= nested_form_for(@parent) do |f| %>
  <div class="form-group <%= @parent.errors[:name].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Nome</label>
    <%= f.text_field :name, :class=>"form-control" %>
    <% if @parent.errors[:name].any? %>
      <% @parent.errors[:name].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @parent.errors[:birth].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Data Nascimento</label>
    <%= f.text_field :birth, :class=>"form-control datepick", :value=>formatar_data(@parent.birth) %>
    <% if @parent.errors[:birth].any? %>
      <% @parent.errors[:birth].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <label>Sexo</label>
    <%= f.select :sex, Teacher::Sex.map{|status| [status[1], status[0] ]}, {}, {:class=>"form-control"} %>
  </div>

  <div class="form-group <%= @parent.errors[:cpf].any? == true ? 'has-error' : '' %>">
    <label class="control-label">CPF</label>
    <%= f.text_field :cpf, :class=>"form-control mask_cpf" %>
    <% if @parent.errors[:cpf].any? %>
      <% @parent.errors[:cpf].each do |message| %>
        <% if message == "is invalid" %>
          <span class="help-block">CPF inválido</span>
        <% else %>
          <span class="help-block"><%= message %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @parent.errors[:street].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Rua</label>
    <%= f.text_field :street, :class=>"form-control" %>
    <% if @parent.errors[:street].any? %>
      <% @parent.errors[:street].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @parent.errors[:cep].any? == true ? 'has-error' : '' %>">
    <label class="control-label">CEP</label>
    <%= f.text_field :cep, :class=>"form-control mask_cep" %>
    <% if @parent.errors[:cep].any? %>
      <% @parent.errors[:cep].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @parent.errors[:comp].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Complemento</label>
    <%= f.text_field :comp, :class=>"form-control" %>
    <% if @parent.errors[:comp].any? %>
      <% @parent.errors[:comp].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @parent.errors[:neighborhood].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Bairro</label>
    <%= f.text_field :neighborhood, :class=>"form-control" %>
    <% if @parent.errors[:neighborhood].any? %>
      <% @parent.errors[:neighborhood].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @parent.errors[:city].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Cidade</label>
    <%= f.text_field :city, :class=>"form-control" %>
    <% if @parent.errors[:city].any? %>
      <% @parent.errors[:city].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @parent.errors[:state].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Estado</label>
    <%= f.text_field :state, :class=>"form-control" %>
    <% if @parent.errors[:state].any? %>
      <% @parent.errors[:state].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="form-group <%= @parent.errors[:phone].any? == true ? 'has-error' : '' %>">
    <label class="control-label">Telefone</label>
    <%= f.text_field :phone, :class=>"form-control mask_fone" %>
    <% if @parent.errors[:phone].any? %>
      <% @parent.errors[:phone].each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <%= f.fields_for :children do |ff| %>
    <div class="form-group">
      <label class="control-label">Aluno</label>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
          <%= ff.collection_select :student_id, @students, :id, :name, {}, :class=>"form-control" %>
        </div>
        <div class="col-xs-6 col-md-4 ">
          <%= ff.link_to_remove "Excluir", :class=>"btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>

  <%= f.link_to_add "Adicionar Aluno", :children, :class =>"btn btn-primary" %>
  
  <div class="actions" style="margin-top: 10px;">
    <button type="submit" class="btn btn-primary">Salvar</button>
    <%= link_to 'Voltar', parents_path, :class=>"btn btn-default" %>
  </div>
<% end %>
