<h1>Lista de Pais</h1>

<br>
<%= link_to 'Novo Responsável', new_parent_path, :class=>"btn btn-default" %>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sexo</th>
      <th>CPF</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @parents.each do |parent| %>
      <tr>
        <td><%= parent.name %></td>
        <td><%= Teacher::Sex[parent.sex] %></td>
        <td><%= parent.cpf %></td>
        <td><%= parent.phone %></td>
        <td><%= link_to 'Visualizar', parent, :class=>"btn btn-default" %>
        <%= link_to 'Editar', edit_parent_path(parent), :class=>"btn btn-default" %>
        <%= link_to 'Excluir', parent, method: :delete, data: { confirm: 'Deseja realmente excluir?' }, :class=>"btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>