<h1>Visualizar Professor</h1>

<% if notice != nil %>
  <p id="notice" class="bg-success"><%= notice %></p>
<% end %>

<p>
  <strong>Nome:</strong>
  <%= @parent.name %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= formatar_data(@parent.birth) %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= Teacher::Sex[@parent.sex] %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @parent.cpf %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @parent.street %>
</p>

<p>
  <strong>CEP:</strong>
  <%= @parent.cep %>
</p>

<p>
  <strong>Compl.:</strong>
  <%= @parent.comp %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @parent.neighborhood %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @parent.city %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @parent.state %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @parent.phone %>
</p>

<p>
  <strong>Aluno(s):</strong>
<% @parent.student_parents.each do |sp| %>
  <%= sp.student.name %>;
<% end %>
</p>

<%= link_to 'Editar', edit_parent_path(@parent), :class=>"btn btn-default" %>
<%= link_to 'Voltar', parents_path, :class=>"btn btn-default" %>
