<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parent.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @parent.birth %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @parent.sex %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @parent.cpf %>
</p>

<p>
  <strong>Street:</strong>
  <%= @parent.street %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @parent.cep %>
</p>

<p>
  <strong>Comp:</strong>
  <%= @parent.comp %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @parent.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @parent.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @parent.state %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @parent.phone %>
</p>

<%= form_tag "/add_student", remote: true do %>
  <%= hidden_field_tag "parent_id", @parent.id %>
  <%= collection_select_tag "student_class_id", @student_classes, :id, :description, {}, :class=>"form-control" %>

  <%= submit_tag "Save" %>
<% end %>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
