<%= form_for(@student_class) do |f| %>
  <% if @student_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_class.errors.count, "error") %> prohibited this student_class from being saved:</h2>

      <ul>
      <% @student_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Descrição</label>
    <%= f.text_field :description, :class=>"form-control" %>
  </div>

  <!-- TODO: ajustar o combobox -->
  <div class="form-group">
    <label>Turno</label>
    <select class="form-control" id="student_class_turn">
      <option value="1">Manhã</option>
      <option value="2">Tarde</option>
      <option value="3">Noite</option>
    </select>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-primary">Salvar</button>
    <%= link_to 'Voltar', student_classes_path, :class=>"btn btn-default" %>
  </div>
<% end %>
