<h1>Lista de Turmas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Turno</th>
      <th>Ação</th>
    </tr>
  </thead>

  <tbody>
    <% @student_classes.each do |student_class| %>
      <tr>
        <td><%= student_class.description %></td>
        <td><%= student_class.turn %></td>
        <td><%= link_to 'Show', student_class %></td>
        <td><%= link_to 'Edit', edit_student_class_path(student_class) %></td>
        <td><%= link_to 'Destroy', student_class, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student class', new_student_class_path %>
