<h1>Listing student_classes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Turn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_classes.each do |student_class| %>
      <tr>
        <td><%= student_class.description %></td>
        <td><%= student_class.turn %></td>
        <td><%= link_to 'Show', student_class %></td>
        <td><%= link_to 'Edit', edit_student_class_path(student_class) %></td>
        <td><%= link_to 'Destroy', student_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student class', new_student_class_path %>
