<h1>Visualizar Turma</h1>

<p id="notice" class="bg-success"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @student_class.description %>
</p>

<p>
  <strong>Turno:</strong>
  <%= StudentClass::Turn[@student_class.turn] %>
</p>

<%= link_to 'Editar', edit_student_class_path(@student_class), :class=>"btn btn-default" %>
<%= link_to 'Voltar', student_classes_path, :class=>"btn btn-default" %>
